/* Personal Website Style v0.0 */
/* Kamil Sacha */
/* January 05, 2021 */

body{
	font-family: helvetica;
	color: whitesmoke;
	/* My dad did not like this
	*/
	background: #c0392b;
	background: -webkit-linear-gradient(#8e44ad, #F15F79); 
	background: linear-gradient(#8e44ad, #F15F79);

	/*
	Blues
	background: #43cea2;
	background: -webkit-linear-gradient(to right, #185a9d, #43cea2); 
	background: linear-gradient(to right, #185a9d, #43cea2);
	*/

	/*
	Black
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	*/

	/*
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	*/
}
/*
@keyframes gradient{
	0%{
		background-position: 0%;
	}

	50%{
		background-position: 50%;
	}

	100%{
		background-position: 0%;
	}
}
*/

h1{
	font-size: 40px;
}

#navBar{
	position: fixed;
	top: 2.4%;
	width: 100%;
	z-index: 1;
	font-size: 20px;
}

a {
	padding: 18px;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}

a:visited{
	color: whitesmoke;
	text-decoration: none;
}

a:link{
	color: whitesmoke;
	text-decoration: none;
}


#home{
	font-size: 65px;
	width: 100%;
	height: auto;
	padding-top: 300px;
	padding-bottom: 400px;
}

#welcomeMessage{
	position: relative;
	left: 150px;
}

#bio{
	width: 50%;
}

#about{
	display: inline-flex;
}

#aboutP{
	font-size: 22px;
}

#skills{
	padding-left: 45px;
}

#skillList{
	font-size: 22px;
}

#time{
	font-weight: lighter;
	font-style: italic;
}

#resumeSubHead{
	font-size: 22px;
}

#resumeList{
	font-size: 22px;
}

#dataVizProject{
	background-color: hsl(0,0%,100%,0.4);
}

#links{
	display: inline-flex;
}

#contactBody{
	text-align: left;
	font-size: 22px; 
}

#contactMessage{
	display: block;
}