/* Personal Website Style v0.0 */
/* Kamil Sacha */
/* January 05, 2021 */

body{
	font-family: helvetica;
	/*background: linear-gradient(to right, #EB4B98,#5158BB,#043565);*/
	background: #c0392b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	/*background-image: linear-gradient(to right, #861657,#AA4465,#FFA69E);*/
	/*background-image: linear-gradient(to right, #2D898B,#2D848B,#35874A);*/
	/*background-image: linear-gradient(to right, #DB504A,#FF6F59,#254441);*/

	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient{
	0%{
		background-position: 0%;
	}

	50%{
		background-position: 50%
	}

	100%{
		background-position: 0%
	}
}

h1{
	font-size: 40px;
}

#navBar{
	position: sticky;
	top: 0;
	z-index: 1;
}

a {
	padding: 18px;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:link{
	color: black;
	text-decoration: none;
}

#home{
	font-size: 65px;
	width: 100%;
	height: auto;
	padding-top: 300px;
	padding-bottom: 400px;
	/*background-image: linear-gradient(to right, #88958D,#BC9CB0,#DDF2EB);*/
}

#welcomeMessage{
	position: relative;
	left: 150px;
}

#bio{
	width: 50%;
}

#about{
	display: inline-flex;
}

#aboutP{
	font-size: 22px;
}

#skills{
	padding-left: 45px;
}

#skillList{
	font-size: 22px;
}

#time{
	font-weight: lighter;
	font-style: italic;
}

#resumeSubHead{
	font-size: 22px;
}

#resumeList{
	font-size: 22px;
}

#dataVizProject{
	background-color: hsl(0,0%,100%,0.4);
}

#links{
	display: inline-flex;
}

#contactBody{
	text-align: left;
	font-size: 22px; 
}

#contactMessage{
	display: block;
}